@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    background-color: #faf9f7;
    color: #1c1917;
  }
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.6s ease-in-out;
  }
}